@page "/counter"
@using System.Numerics

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @_currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private BigInteger _currentCount = 1;
    private BigInteger _big = 2;

    private void IncrementCount()
    {
        _currentCount = _currentCount == 0 ? _currentCount + 1 : _currentCount * _big;
        _big = _currentCount;

    }

}